@charset "UTF-8";

@media screen and (min-width:320px){

/* js hover */
main{
  display: none;
}

.current{
  color:#ffffff !important;
  background:#01788a;
}

.textbox li a:hover{
  opacity: 0.8;
}

.sp-js-morphing{
  display: none;
}
.js-morphing{
  float: left;
}
.js-morphing img{
  display: block;
  width: 280px;
  margin: 0 auto;
}


.access-01{
  position: relative;
  top: 100px;
  max-width: 800px;
  margin: 10% auto;
}

.contents-title{
  position: absolute;
  left: 46%;
  top: -25%;
  z-index: 98;
  width: 6%;
}
.inner-box{
  max-width: 800px;
  margin: 0 auto;
  padding: 8% 2% 2%;
  background: url('../images/contents01-back2.png') no-repeat left top;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}
.box{
  width: 56%;
  padding: 2%;
  float: right;
  text-align: left;
  text-align: center;
}
.text_01{
  width: 100%;
  border: 1px solid #01788a;
  padding: 2% 0;
  letter-spacing: 10px;
}
.l-text{
  width: 45%;
  float: left;
  display: block;
  border: 1px solid #b2dfdb;
  padding: 2%;
  font-size: 80%;
}
.r-text{
  width: 45%;
  float: right;
  display: block;
  border: 1px solid #b2dfdb;
  padding: 2%;
  font-size: 80%;
}

.text_02{
  clear: both;
  background-color: #01788a;
  color: #fff;
  padding: 2% 0;
  letter-spacing: 4px;
}

.box img{
  width: 80%;
  padding-top: 7%;
}


.access-02{
  position: relative;
  top: 100px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 0;
}
.inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 2% 5%;
  overflow: hidden;
}
.textbox{
  padding-top: 4%;
  font-size: 90%;
  line-height: 1.4;
  width: 40%;
  float: left;
  z-index: 98;
}
.textbox ul{
  padding: 0;
}
.textbox li{
  list-style-type: none;
  padding: 1% 0;
}
.textbox p{
  font-size: 90%;
  line-height: 1.4;
  font-weight: lighter;
}
.textbox  li a{
  display: inline;
}
.textbox a{
  color: #01788a;
}
.li-title{
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 5%;
}
iframe{
  display: block;
  float: right;
  width: 60%;
  height: 350px;
}

}
/*text*/
.text{
	min-height: 100px;
	min-width: 100px;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
}
.airport-use 
{
	color: darkcyan;
	border: 1px solid darkcyan;
	font-size: 120%;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bolder;
	height: 30px;
	padding-top: 10px;
	background-image: url(../images/sozai_cman_jp_20171121114528.png);
	background-repeat: no-repeat;
	background-position: 30% 50%;
}
.move{
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
	text-align: center;
	line-height: 1px;
	font-size: 80%;
	color: darkcyan;
	
}
	
.taxi{
	width: 150px;
	float: left;
	border-right: 1px solid darkcyan;
	padding-right: 42px;
	max-width: 150px;
}
.inner2{
	border: solid 1px darkcyan;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;	
}
.buss
{
	width: 150px;
	float: right;
}
.hotelname
{
	background-color: darkcyan;
	color: white;
	text-align: center;
	letter-spacing: 4px;
	font-size: large;
	font-weight: bold;
	margin: 0px;
}
.access
{
	color: darkcyan;
	font-size: 85%;
	text-align: left;
}
ul
{
	
	color: aquamarine;
	margin-left: 0px;
}
span{
	color:darkcyan;
	font-size: 100%;
}
#icon.air{
	width:15px;
	height:15px;
}
#icon.taxi{
	width:15px;
	height:15px;
}
.hotel{
	margin: 0px;
	height: 30px;
	padding-top: 5px;	
}	