@charset "UTF-8";

@media screen and (min-width:768px){
body{
  max-width: 100%;
  margin: 0 auto;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, helvetica, arial, "ヒラギノ角ゴ Pro W5", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  color: #01788a;
}
img{
  border-style: none;
}
a{
  text-decoration: none;
}

li .access{
  height:52px;
}

.tategaki{
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  line-height: 1.5;
}

/* hover */
#header .tategaki:hover{
  background-color: #01788a;
  color: #fff;
}
.home:hover{
  opacity: 0.8;
}
.map:hover{
  color: #0072ff;
  background-color: #fff;
}

.tel:hover,
.mail:hover {
  background-image: linear-gradient(#05FBFF, #0072ff);
}

.hotelguide:hover {
 opacity: 0.8;
}

/* js */
#nami{
  width: 100%;
  height: 60px;
  top: 40px;
}

/* sp */
.sp-menu{
  display: none;
}

#header{
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  z-index: 99;
}
.home{
  width: 20%;
  float: left;
  display: block;
  margin-left: 6%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.home img{
  width: 30%;
}
#header ul{
  float: right;
  padding: 0 40px;
  margin: 0 2% 0 0;
  background: url('../images/header-menu.png') no-repeat center top;
  background-size: 100% 50%;
}
#header li{
  height: 100px;
  float: right;
  list-style-type: none;
  vertical-align: top;
  font-family: ryo-text-plusn, 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;
  margin: 4% 23px 0 23px;
  font-size: 93%;
  font-weight: bold;
}
#header .tategaki{
  color: #01788a;
  letter-spacing: 2px;
}

.footer{
  position: relative;
  top: 30px;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(#05FBFF, #0072ff);
  padding: 4% 0;
}

.footer p {
 color: #fff;
}

.footer-wrapper {
  width: 90%;
  margin-left: 7%;
}

.r-footer{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.r-contact{
  float: left;
  margin: 1% 2% 0 0;
  font-size: 1rem;
  letter-spacing: 1.4px;
  padding-bottom: 1%;
  font-weight: bold;
  text-align: center;
  width: 12%;
}

.r-inline{
  margin: 1% 0;
  overflow: hidden;
  text-align: center;
}

.tel,
.mail {
  float: left;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 4px;
  display: block;
  padding: 0.5% 1%;
  line-height: 2;
  border: 1px solid #fff;
  width: 40%;
  margin-right: 1%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.mail {
  letter-spacing: 1px;
}

.r-inline img {
  vertical-align: middle;
  text-align: left;
  width: 10%;
  margin-right: 4%;
}

.hotelguide {
  display: block;
  line-height: 2;
  width: 26%;
  margin-top: 6%;
  margin-left: 28%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.hotelguide img {
  width: 100%;
}


.l-footer {
  padding: 2% 0;
  display: table;
  width: 52%;
  margin: auto;
  border-top: 1px solid #fff;
}

.l-logo {
  display: table-cell;
  width: 35%;
  vertical-align: top;
  margin-left: 15%;
}

.l-logo img {
  width: 70%;
  margin-left: 33%;
}

.l-access {
  display: table-cell;
  padding-left: 9%;
  width: 60%;
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5% auto 4%;
}

.address {
  font-size:1rem;
  margin: 1% 0 10%;
}

.l-inline {
  font-size: 100%;
  margin:4% 4% 0 0;
}

.l-inline img{
  display: inline;
  vertical-align: middle;
  width: 5%;
}

.map {
  color: #fff;
  display: inline;
  font-size: 0.8rem;
  border: 1px solid #fff;
  width: 20%;
  padding: 6px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}


.copy {
text-align: center;
}

small {
  font-size: 80%;
  letter-spacing: 1.6px;
}
}
