@charset "UTF-8";

@media screen and (min-width:768px){

canvas{
  width: 100%;
}

.current{
  	border-right: 11px dotted #086A87;
  }

main{
  display: none;
}

.inner-box01 a:hover{
  color: #fff;
  background-color: #01788a;
  border: 1px solid #fff;
}


.voice-01{
  position: relative;
  top: 100px;
  width: 100%;
  padding: 0;
}
.inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 8% 2% 5%;
}
.inner img{
  width: 34%;
  padding: 2%;
}
.inner-box01{
  position: relative;
  max-width: 900px;
  margin: 5% auto;
  padding: 8% 2% 2%;
  background: url('../images/contents01-back2.png') no-repeat left top;
  background-size: cover;
  z-index: 1;
}
.inner-box01 img{
  position: absolute;
  width: 6%;
  top: -6%;
  right: 3%;
  z-index: 99;
}
.inner-box01 ul{
  display: block;
  width: 85%;
  padding: 6% 0 6% 2%;
}
.inner-box01 li{
  list-style-type: none;
  line-height: 2.2;
  letter-spacing: 1.2px;
}
.li-text{
  border-bottom: 1px solid #b2dfdb;
  font-size: 100%;
  font-weight: bold;
}
.detail{
  display: inline;
  font-size: 80%;
  padding-right: 3%;
  font-weight: lighter;
}

.inner-box01 a{
  font-size: 100%;
  width: 20%;
  text-align: center;
  padding: 1%;
  margin: 6% 0 6% 2%;
  color: #01788a;
  border: 1px solid #01788a;
  transition: all  0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}



}
