@charset "utf-8";
/* CSS Document */
@media(min-width:320px){
body
{
	width: 375px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.main
{
	border-collapse: collapse;	
}
.airport-use 
{
	color: darkcyan;
	border: 1px solid darkcyan;
	font-size: 120%;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bolder;
	height: 30px;
	padding-top: 5px;
}
.move{
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
	text-align: center;
	line-height: 1px;
	font-size: 80%;
	color: darkcyan;
	
}
	
.taxi{
	width: 150px;
	float: left;
	border-right: 1px solid darkcyan;
	padding-right: 18px;
	max-width: 150px;
}
.inner{
	border: solid 1px darkcyan;
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
}
.buss
{
	width: 150px;
	float: right;
}
.hotelname
{
	background-color: darkcyan;
	color: white;
	text-align: center;
	letter-spacing: 4px;
	font-size: large;
	font-weight: bold;
	margin: 0px;
}
.access
{
	color: darkcyan;
	font-size: 85%;
	text-align: left;
}
	li{
		color: darkcyan;
	}
ul
{
	
	color: aquamarine;
	margin-left: 0px;
}
span{
	color:darkcyan;
	font-size: 100%;
}
#icon.air{
	width:15px;
	height:15px;
}
#icon.taxi{
	width:15px;
	height:15px;
}
.hotel{
	margin: 0px;
	height: 30px;
	padding-top: 5px;	
}
	
}
